@use "../../../_utils/styles/utils" as *;
@use "../../../_utils/styles/colors" as *;

.LandingSection {
  position: relative;
  height: calc(100vh - 100px);

  &__container {
    display: flex;
    flex-direction: column;
    max-width: defaultUnit(1200);
    width: 100%;
    padding-top: defaultUnit(150);
    margin: 0 auto;
    color: var(--white-100);
    padding-left: defaultUnit(20);
    padding-right: defaultUnit(20);

    @include mobile {
      padding-top: defaultUnit(50);
    }
  }

  &__title {
    font-size: defaultUnit(48);
    margin-bottom: defaultUnit(30);

    @include mobile {
      font-size: defaultUnit(32);
    }
  }

  &__subTitle {
    font-size: defaultUnit(36);
    margin-bottom: defaultUnit(30);

    @include mobile {
      font-size: defaultUnit(26);
    }
  }

  &__text {
    font-size: defaultUnit(18);
    max-width: defaultUnit(400);

    @include mobile {
      font-size: defaultUnit(16);
    }
  }

  &__btn {
    margin-top: defaultUnit(30);
  }

  &__image {
    filter: brightness(50%);
  }
}
