:root {
  /* White */
  --white-100: #ffffff;
  --white-200: #e2e2e2;
  --white-300: #cccccc;

  /* Gray */
  --gray-100: #a4a4a4;
  --gray-200: #8f8f8f;
  --gray-300: #666666;
  --gray-400: #5f6360;
  --gray-500: #4d4d4d;
  --gray-600: #4c4c4c;

  /* Black */
  --black-100: #080808;
  --black-200: #000000;

  /* Blue */
  --blue-100: #cbd3dc;
  --blue-200: #3899ec;
  --blue-300: #116dff;
  --blue-400: #162d3d;

  /* Bluish cyan */
  --blueCyan-100: #7fccf7;
  --blueCyan-200: #375c70;

  /* Greenish cyan */
  --green-100: #bde4d9;
  --green-200: #58ae9b;
  --green-300: #008566;

  /* Cyan */
  --cyan-100: #66cac5;

  /* Teal */
  --teal-100: #00ad85;

  /* Purple */
  --purple-100: #d1b1e8;
  --purple-200: #9c58e9;
  --purple-300: #874bbc;

  /* Red */
  --red-100: #ff4040;

  /* Olive */
  --olive-100: #92c941;

  /* Orange */
  --orange-100: #9f774d;

  /* Purple magenta */
  --purple-100: #b791c8;
}
