@use '../../../_utils/styles/utils' as *;
@use '../../../_utils/styles/colors' as *;

.Home {
	&__aboutUs {
		&__title {
			text-align: center;
			font-size: defaultUnit(32);
			margin: defaultUnit(20) defaultUnit(0);
		}

		&__wrapper {
			background: linear-gradient(84deg, #008566 15.0634765625%, #bde4d9 80.2886962890625%);
			color: var(--black-100);
			padding: defaultUnit(40) 0;

			@include mobile {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}
